* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
    --primary-color: rgb(54, 243, 227);
    
}
body {
  font-style: italic;
  text-align: center;
  text-transform: capitalize;
  background: url(https://wallpapercave.com/wp/wp2327825.jpg);
  background-size: cover;
}
#navbar {
  height: 20vh;
  
}
.heading {
  padding-top: 2rem;
   color: var(--primary-color);
}
main {
  max-width: 350px;
  margin: auto;
}
#text-translating,
#show-output {
  margin: 1rem 0;
  display: block;
  width: 100%;
  border: 2px solid var(--primary-color);
  overflow: scroll;
}
#text-translating {
  min-height: 23vh;
  overflow: scroll;
}
button {
  padding: 0.6rem 2rem;
  margin: 1rem 0;
  font-size: 1.3rem;
  background-color: #232428;
  border: none;
   color: var(--primary-color);
}

#show-output {
  min-height: 15vh;
  text-align: left;
  color: var(--primary-color);
}
h4{
     color: var(--primary-color);
}
footer {
   color: var(--primary-color);
}
#footer-content {
  max-width: 380px;
  margin: auto;
}
#about {
  padding: 1.3rem 0;
}
#footer-para {
  padding-bottom: 1rem;
  letter-spacing: 1px;
  text-align: justify;
}
