@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@1,200&family=Caveat&family=Indie+Flower&family=Noto+Sans:ital,wght@1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
  text-transform: capitalize;
}
:root {
  --primary-color: #07b3f7;
}
body{
  
  background: url(https://wallpaperaccess.com/full/884535.jpg);
  background-size: cover;
}
header {
 
  text-align: center;
}
header h1 {
  font-size: 2rem;
  padding: 1rem;
   color: var(--primary-color);
}
section {
  margin: auto;
  padding: 1rem;
  max-width: 600px;
   color: var(--primary-color);
  
}
#txt-input {
  border: 1px solid var(--primary-color);
}
textarea {
  display: block;
  width: 100%;
  min-height: 20vh;
  font-size: large;
  margin-top: 2rem;
}

button {
  
  border: none;
  margin: 2rem 0;
  padding: 1rem 2rem;
  font-size: large;
  color: var(--primary-color);
  border-radius: 10px;
}
#output {
  border: 1px solid var(--primary-color);
  width: 100%;
  min-height: 10vh;
  max-height: 20vh;
  overflow: scroll;
  padding: 1rem;
  font-size: large;
}
footer {
  width: 100%;
  padding: 1rem;
 
  text-align: center;
  color: var(--primary-color);

}

footer h2 {
  font-size: x-large;
}

footer p {
  max-width: 600px;
  margin: auto;
}